{% extends "base.html" %}

{% block title %}Titulo de prueba de interrupciones ;){% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="static/css/interruptions.css" />
    <link rel="stylesheet" type="text/css" href="static/css/components/statistics.css" />
    <link rel="stylesheet" type="text/css" href="static/css/components/myGrid.css" />
{% endblock %}

{% block content %}<div id="myInterruptions"></div>{% endblock %}

{% block js%}<script src="interruptions.js"></script>{% endblock %}
