$factigis_bgColor : ghostwhite;

//Map
.esriSimpleSliderTL {
    top: 4em;
    visibility: hidden;
}
//HTML
.bodyfactigis{
  width: 100%;
  height: 100vh;

}

//Factigis frontOffice

.myFactigis_FrontOffice{
  height: inherit;
}

.wrapper_factigis{
  height: inherit;
  display: flex;
  flex-direction: row;
}

.factigis_map_div{
  height: inherit;
}

.wrapper_factibilidadLeft{
  position: inherit;
  width: 40%;
  background: $factigis_bgColor;
  height: inherit;
  display: flex;
  flex-direction: column;
}
.wrapper_factibilidadRight{
  display: flex;
  flex-direction: column;
  position: fixed;
  height: inherit;
  width: 60%;
}

//media screens for responsive design 'till 640px max'
@media screen and (min-width: 0px) and (max-width: 640px) and (orientation: portrait)  {
  .bodyfactigis {
    width: 100%;
    height: inherit;
  }

  .wrapper_factigis {
    height: inherit;
    display: flex;
    flex-direction: column-reverse;
  }
  .wrapper_factibilidadLeft {
    width: 100%;
    background: $factigis_bgColor;
    height: inherit;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .wrapper_factibilidadRight {
      display: flex;
      flex-direction: column;
      position: relative;
      height: inherit;
      width: 100%;
      height: 320px;
  }

}

//media screens for responsive design 'till 640px max'
@media screen and (min-width: 0px) and (max-width: 640px) and (orientation: landscape)  {
  .bodyfactigis {
    width: 100%;
    height: inherit;
  }

  .factigis_map_div{
    height: 640px;
    position: fixed;
  }

  .wrapper_factigis {
    height: inherit;
    display: flex;
    flex-direction: row;
  }
  .wrapper_factibilidadLeft {
    width: 100%;
    background: $factigis_bgColor;
    height: inherit;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .wrapper_factibilidadRight {
      display: flex;
      flex-direction: column;
      position: relative;
      height: inherit;
      width: 100%;
      height: inherit;
  }

}

/*
.LayerList__wrapper{
  z-index: 4;
  margin-top: 3.5em;
  position: absolute;
  padding: 0.5em;
  margin-left: 1em;
  display: inline-block;
  width: auto;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.6);
}
.LayerList__fieldset{
  display: flex;
}
.LayerList__legend{
  font-size: 11px;
  padding: 0px;
  margin: 0px;
}

.LayerList__checkbox{

}
.LayerList__h6{
  font-size: xx-small;
  margin-bottom: 0px;
  margin-top: 0.8em;
}
.LayerList__checkbox-div{
  display: flex;
  width: auto;
  flex-direction: row;
}
*/

@import "components/factigis/factigis_add.scss";
@import "components/layerlist-component";

.LayerList__legend{
  font-size: 11px;
}
