.wrapper_factigisAdd{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}


.factigis_hr{
  border: 1px;
    border-style: inset;
    width: 100%;
}


.factigis_groupbox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.factigis-input{
  width: 85%;
}

.factigis_submitButton{
  width: 100%;
}

.factigis-selectFromMapButton{
  width: 3em;
  margin: 0 0 0 0.5em;
}

.factigis_hr-subtitle {

    border-style: ridge;
    width: 100%;
    color:rgba(0, 0, 0, 0.04);

    margin: 0px;
}
/* Checkbox CSS */
/* Icons :To start, hide the original checkbox.*/
/* Hide the Ordinary Checkbox */
.factigis_ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.factigis_BigGroupbox{
  display: flex;
  flex-direction: column;
  padding: 0.8em 1em 0.8em 1em;
  font-size: 11px;
}


.factigis_selectInput{
  width: 99%;
}

.factigis_selectEmpalme{
  max-width: 100%;
}

.factigis_groupbox-box{
  width: 50%
}
input[type="checkbox"] {
    display: none;
}
/* Checkbox Icons */
label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    padding: 16px 28px 0 0;
    font-weight: normal;

}

label:before, label:after {
    font-family: FontAwesome;
    font-size: 0px;
    /*absolutely positioned*/
    position: absolute; top: 0; left: -49px; right: 10px;
}

label:before {
    content: '\f096'; /*checkbox unchecked */
}
label:after {
    content: '\f00c'; /*checkbox checked*/
    max-width: 0;
    overflow: hidden;
    opacity: 0.5;
    font-size: 15px;
    top: 16px;
    left: -25px;
    color: #1EAB06;

-webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
     transition: all 0.50s;
}

/* Animating the Checkbox Icon */
input[type="checkbox"]:checked + label:after {
    max-width: 25px;
    opacity: 1;
    margin-right: 90px;
}

.factigis__toggleBtnLabel{
  display: flex;
  flex-direction: inherit;
  align-items: center;
  padding-left: 1em;
  display: none;
}

.factigis_btnSelectCliente{
  color: black;
}

.factigis_btnSelectPoste{
  color: black;
}

.factigis_btnSelectDireccion{
  color: black;
}

.factigis_input-solo{
  width: 99%;
  display: flex;
  height: 3em;
}

.factigis_group{
  width: 50%;
}

.factigis_radiobutton{
  margin-right: 0.3em;
  margin-top: 0;
}

.factigis_radiobuttonGroup{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
//media screens for responsive design 'till 640px max'
@media screen and (min-width: 0px) and (max-width: 1240px) and (orientation: portrait)  {
  .factigis_ul{
    flex-direction: column;
  }
}
@media screen and (min-width: 0px) and (max-width: 1240px) and (orientation: landscape)  {
  .factigis_ul{
    flex-direction: column;
  }
}
