//Map
.esriSimpleSliderTL {
    top: 4em;
    visibility: hidden;
}
//HTML
.bodyfactigis{
  width: 100%;
  height: 100vh;

}

//Factigis frontOffice

.myFactigis_FrontOffice{
  height: inherit;
}

.wrapper_factigis{
  height: inherit;
  display: flex;
  flex-direction: row;
}

.factigis_map_div{
  height: inherit;
}

.wrapper_factibilidadLeft{
  position: inherit;
  width: 40%;
  background: aliceblue;
  height: inherit;
  display: flex;
  flex-direction: column;
}
.wrapper_factibilidadRight{
  display: flex;
  flex-direction: column;
  position: absolute;
  height: inherit;
  width: 60%;
}

//media screens for responsive design 'till 640px max'
@media screen and (min-width: 0px) and (max-width: 640px) and (orientation: portrait)  {
  .wrapper_factigis {
    height: inherit;
    display: flex;
    flex-direction: column-reverse;
  }
  .wrapper_factibilidadLeft {
    width: 100%;
    background: aliceblue;
    height: inherit;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .wrapper_factibilidadRight {
      display: flex;
      flex-direction: column;
      position: relative;
      height: inherit;
      width: 100%;
      height: 70%;
  }

}

@import "components/factigis/factigis_add.scss";
