$navbar_backgroundcolor: ghostwhite;


body{
  margin: 0;
}
.esriSimpleSliderTL {
  visibility: hidden;
}
.ap__wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}

.map_div {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 1;
    position: absolute;
}

.ap_search_notifications{
  z-index: 2;
  background: aliceblue;
  display: flex;
  margin-top: 0;
  height: 1em;
  position: absolute;
  /* bottom: 0; */
  height: auto;
  width: auto;
  margin-left: 0;
  visibility: hidden;
  font-size: 12px;

}


@import "components/apchq/APNavBar-component";

@import "components/apchq/APSearch-component";

@import "components/apchq/APEditor-component";

@import "components/apchq/APInfo-component";

@import "components/layerlist-component";
