.bodygisred{
  background-image: url("images/gisredDashboard_images/dashboardbg.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
}
.wrapper_gisredDashboard{
  display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: stretch;
      justify-content: center;
      width: 100%;
      padding: 0 20% 0 20%;
      margin: 0;
      margin-top: 6em;
  }

.gisredDashboard_moduleContainer{
  display: flex;
  height: 10em;
  align-items: center;
  padding: 3em 3em 3em 1.5em;
  margin: 0.5em;
      -webkit-box-shadow: -1px 4px 35px -5px rgba(0,0,0,0.52);
      -moz-box-shadow: -1px 4px 35px -5px rgba(0,0,0,0.52);
      box-shadow: -1px 4px 35px -5px rgba(0,0,0,0.52);
}



.gisredDashboard-aLink{
  text-decoration: none;
font-family: arial;
color: white;
font-weight: bolder;
}

.gisredDashboard-divimg{
  width: 6em;
      height: 6em;
      margin-right: 1em;
}
.gisredDashboard-img{
    width: inherit;
}
