.LayerList__wrapper{
  z-index: 4;
  margin-top: 3.5em;
  position: absolute;
  padding: 0.5em;
  margin-left: 1em;
  display: inline-block;
  width: auto;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.6);
}
.lLayerList_fieldset{
  display: flex;
}
.laLayerListlegend{
  font-size: 11px;
  padding: 0px;
  margin: 0px;
}

.layLayerListheckbox{

}
.layeLayerList{
  font-size: xx-small;
  margin-bottom: 0px;
  margin-top: 0.8em;
}
.layerLayerListckbox-div{
  display: flex;
  width: auto;
  flex-direction: row;
}
.LayerList__checkbox-div{
  display: flex;
}
